.products {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .products__single {
    height: 250px;
    list-style: none;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    border-radius: 5px;
    cursor: pointer; /* Imp on clickables */
  }
  
  .products__single > img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 3px;
  }
  
  .pagination {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .pagination > span{
    padding: 7px 15px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 12px;
  }

  .pagibationbtn{
    padding: 7px 15px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    background-color: #fff !important;
  }
  
  .pagination__disable{
    padding: 7px 15px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0.5;
    background-color: #fff !important;
  }
  
  .pagination__selected{
    padding: 7px 15px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    background-color: rgb(220, 220, 220) !important;
  }

  .table {
    border-collapse: collapse;
  }

  .thead {
    border: 1px solid #ddd;
    background-color: #d8c5c524;
    padding: 6px 10px;
    font-size: 14px;
    font-family: Poppins-SemiBold;
  }

  .tdatarow {
    border: 1px solid #ddd;
  }

  .tdata {
    padding: 10px;
    font-size: 13px;
    font-family: Poppins-Regular;
  }

  .recordsPageContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }